
<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">

      <!-- Logo container-->
      <div class="logo">
        <!-- Text Logo -->
        <!--<a href="index.html" class="logo">-->
        <!--Upcube-->
        <!--</a>-->
        <!-- Image Logo -->
        <a href="index.html" class="logo">
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="22" class="logo-small">-->
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="24" class="logo-large">-->
          <img src="node_modules/adminbsb-materialdesign/images/users/amila.jpg" alt="" height="50" class="rounded-circle">
          &nbsp; &nbsp; Create New Userlogin Account Form
        </a>

      </div>
      <!-- End Logo container-->


      <div class="menu-extras topbar-custom">

        <!-- Search input -->
        <div class="search-wrap" id="search-wrap">
          <div class="search-bar">
            <input class="search-input" type="text" placeholder="Search" >
            <a href="#" class="close-search toggle-search" data-target="#search-wrap">
              <i class="mdi mdi-close-circle"></i>
            </a>
          </div>
        </div>

        <ul class="list-inline float-right mb-0">

          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-email-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>

          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-bell-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5>Notification (3)</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item active">
                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>



        </ul>
      </div>
      <!-- end menu-extras -->

      <div class="clearfix"></div>

    </div> <!-- end container -->
  </div>
  <!-- end topbar-main -->

  <!-- MENU Start -->
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">

          <li class="has-submenu">
            <a routerLink="/home" routerLinkActive="active"><i class="ti-home"></i>Home</a>
          </li>

          <li class="has-submenu">
            <a ><i class=""></i></a>
          </li>



        </ul>
        <!-- End navigation menu -->
      </div> <!-- end #navigation -->
    </div> <!-- end container -->
  </div> <!-- end navbar-custom -->
</header>
<br><br><br>
<br><br><br>

<form name="Form" [formGroup]="Form">
<div class="container register wrapper fadeInDown">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>Create New Account</p>
      <!--<input type="submit" name=""/><br/>-->
    </div >
    <div class="col-md-9 register-right fadeInDown">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Create New Account</h3>

          <div class="row register-form container">
            <div class="col-md-6">
              <div class="form-group">

                <div class="from-group">
                  <input type="text" [(ngModel)]="selectedUsers.eMail"  class="form-control" formControlName="email" [ngClass]=" {'is-invalid': Form.get('email').touched && Form.get('email').invalid}" placeholder="Enter a Valid Email">
                  <div *ngIf="Form.get('email').touched && Form.get('email').invalid" class="invalid-feedback">
                    <span>Enter Valied E-mail</span>

                  </div>
                </div>

              </div>

              <div class="form-group">
                <input type="text" [(ngModel)]="selectedUsers.nic" formControlName="nicNumber" class="form-control"  placeholder="NIC" [ngClass]="{'is-invalid': Form.get('nicNumber').touched && Form.get('nicNumber').invalid}" >
                <div *ngIf="Form.get('nicNumber').touched && Form.get('nicNumber').invalid" class="invalid-feedback">
                  <span>pattern : 943252254v</span>
                 </div>
              </div>


            </div>

            <div class="col-md-6">

              <div class="form-group">
                <!--[ngModelOptions]="{standalone:true}-->
                <input type="text" [(ngModel)]="selectedUsers.name" formControlName="userName" class="form-control"  placeholder="User Name" [ngClass]="{'is-invalid': Form.get('userName').touched && Form.get('userName').invalid}" >
                <div *ngIf="Form.get('userName').touched && Form.get('userName').invalid" class="invalid-feedback">
                  <span>Enter only charactors</span>

                </div>
              </div>

              <div class="form-group">
                <input type="text" [(ngModel)]="selectedUsers.address" class="form-control"  placeholder="Address" [ngModelOptions]="{standalone:true}" required >
              </div>



            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedUsers.tel"  class="form-control" formControlName="phoneNumber" [ngClass]="{'is-invalid': Form.get('phoneNumber')&& Form.get('phoneNumber').invalid}" placeholder="User Mobile Number">

                <div *ngIf="Form.get('phoneNumber').touched && Form.get('phoneNumber').invalid" class="invalid-feedback">
                  <span>Pattern : 075-6367321</span>

                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="password" [(ngModel)]="selectedUsers.password"  class="form-control" formControlName="password" [ngClass]="{'is-invalid': Form.get('password').invalid}" placeholder="User Password">

                <div *ngIf="Form.get('password').touched && Form.get('password').invalid" class="invalid-feedback">
                  <span>Password must be a letaset 6 charector</span>

                </div>
              </div>



            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input (click)="saveUsers()" type="submit" class="btn btn-primary waves-effect wa" value="Register" [disabled]="!Form.valid">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>
</form>

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        © 2018 Quiz - Created<i class="mdi mdi-heart text-danger"></i> by Amila.
      </div>
    </div>
  </div>
</footer>
