<link href="node_modules/adminbsb-materialdesign/css/scrolling-nav.css" rel="stylesheet">

<div class="fadeInDown">
 Navigation
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
<div class="container">
<a class="navbar-brand js-scroll-trigger" href="#page-top">Start, &nbsp; Sharing Your Softwear Development Knowladge</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="#about">About</a>
</li>&nbsp;
<li class="nav-item">
<a routerLink="/userlogin" routerLinkActive="active" class="nav-link js-scroll-trigger" href="#service">Userlogin-Login</a>
</li>
<li class="nav-item">
<a routerLink="/adminlogin" routerLinkActive="active" class="nav-link js-scroll-trigger" href="#contact">Admin-Login</a>
</li>
</ul>
</div>
</div>
</nav>


<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>welcome to , sharing your softwear development knowladge</h1>
    <p class="lead">All of questions and answer about softwear development</p>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About this page</h2>
        <p class="lead">most trusted online community for developers to learn, share their knowledge, and build their careers. More than 50 million professional and aspiring programmers visit This site each month to help solve coding problems, develop new skills, and find job opportunities.</p>
        <ul>
          <li> You can solve all question of softwear development, you have</li>
          <li>you can give answer, all  softwear development questions in this have</li>
          <li>you can sharing your softwear development knowladge, with other peoples</li>
          <li>You can find the softwear engineering jobs</li>
        </ul>
      </div>
    </div>
  </div>



    <div class="container-fluid">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <div class="btn-group pull-right">
              <ol class="breadcrumb hide-phone p-0 m-0">
                <li class=""><a ></a></li>
                <li class=""><a ></a></li>
                <li class="breadcrumb-item active"></li>
              </ol>
            </div>
            <h4 class="page-title">Softwear Engineering</h4>
          </div>
        </div>
      </div>
      <!-- end page title end breadcrumb -->

      <div class="row">
        <div class="col-lg-6">

          <div class="card m-b-30">
            <div class="card-body">

              <h4 class="mt-0 header-title">Image of softwear enineer </h4>
              <p class="text-muted m-b-30 font-14">A software engineer is a person who applies the principles of software engineering to the design, development, maintenance, testing, and evaluation of computer software. so you can find the softwear enginnering job vacancy follow this site.</p>


              <div class="">
                <img class="img-thumbnail" alt="200x400" style="width: 200px; height: 200px;" src="node_modules/adminbsb-materialdesign/images/softwere1.jpg" data-holder-rendered="true">

              </div>
            </div>
          </div>

          <div class="card m-b-30">
            <div class="card-body">

              <h4 class="mt-0 header-title">Image Rounded & Circle</h4>
              <p class="text-muted m-b-30 font-14">Use classes
                <code>.rounded</code> and <code>.rounded-circle</code>.</p>

              <div class="">
                <img class="rounded mr-2" alt="200x200" style="width: 200px;" src="node_modules/adminbsb-materialdesign/images/softwear2.jpg" data-holder-rendered="true">
              </div>
            </div>
          </div>

        </div>


        <div class="col-lg-6">
          <div class="card m-b-30">
            <div class="card-body">

              <h4 class="mt-0 header-title">Interview Questions of softwear enginnering</h4>
              <p>
                Dear readers, these Software Engineering sharing knowladge system have been designed especially to get you acquainted with the nature of questions you may encounter during your interview for the subject of Software Engineering. and imporve your softwear development knowladge. good luck.</p>

              <div class="">
                <img src="node_modules/adminbsb-materialdesign/images/768x.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>
          </div>
        </div>



      </div>




    </div> <!-- end container -->
</section>



<!--<section id="services" class="bg-light">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-8 mx-auto">-->
        <!--<h2>Services we offer</h2>-->
        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--<section id="contact">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-8 mx-auto">-->
        <!--<h2>Contact us</h2>-->
        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>


</div>
