

<!-- Navigation Bar-->

<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">

      <!-- Logo container-->
      <div class="logo">
        <!-- Text Logo -->
        <!--<a href="index.html" class="logo">-->
        <!--Upcube-->
        <!--</a>-->
        <!-- Image Logo -->
        <a  class="logo">
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="22" class="logo-small">-->
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="24" class="logo-large">-->
          <img src="node_modules/adminbsb-materialdesign/images/users/amila.jpg" alt="" height="50" class="rounded-circle">
          &nbsp; &nbsp; User Form
        </a>

      </div>
      <!-- End Logo container-->


      <div class="menu-extras topbar-custom">

        <!-- Search input -->


        <ul class="list-inline float-right mb-0">
          <!-- Search -->

          <!-- Messages-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"  role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-email-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>
          <!-- notification-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-bell-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5>Notification (3)</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item active">
                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>
          <!-- Userlogin-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" role="button"
               aria-haspopup="false" aria-expanded="false">
              <img src="node_modules/adminbsb-materialdesign/images/users/log-outt.jpg" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item"><i class="dripicons-exit text-muted"></i> Logout</a>
            </div>
          </li>
          <li class="menu-item list-inline-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle nav-link">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>

        </ul>
      </div>
      <!-- end menu-extras -->

      <div class="clearfix"></div>

    </div> <!-- end container -->
  </div>
  <!-- end topbar-main -->

  <!-- MENU Start -->
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">

          <li class="has-submenu">
            <a (click)="home()"><i class="ti-home"></i>Home</a>
          </li>


          <li class="has-submenu">
            <a routerLink="/makeQuestions" routerLinkActive="active"><i class="ti-star"></i> Make Questions </a>

          </li>

          <li class="has-submenu">
            <a routerLink="/allQuestions" routerLinkActive="active"><i class="ti-pencil-alt"></i> Give Answer </a>

          </li>


          <li class="has-submenu">
            <a routerLink="/verifyLoginForManageProfile" routerLinkActive="active"><i class="ti-user"></i> Manage Profile</a>

          </li>


        </ul>
        <!-- End navigation menu -->
      </div> <!-- end #navigation -->
    </div> <!-- end container -->
  </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->



<br>
<div class="wrapper fadeInDown">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group pull-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li></li>
            </ol>
          </div>
          <h4 class="page-title"><i class="ti-hand-point-right"></i> &nbsp;<b>Information Of About User Operation</b></h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">

            <div class="row">
              <div class="col-md-12">
                <section id="cd-timeline" class="cd-container">
                  <div class="cd-timeline-block">
                  <div class="cd-timeline-img cd-success">
                    <i class="mdi mdi-adjust"></i>
                  </div> <!-- cd-timeline-img -->

                  <div class="cd-timeline-content">
                    <h3><i class="ti-star"></i>&nbsp;&nbsp;<b>Make Questions </b></h3>
                    <p class="mb-0 text-muted font-14">User can make own questions, related questions catogory.&nbsp; frist of all user must select questions catogory and enter own questions, related selected questions catogory. after user can click "save questions" button. <br><br>Please Click &nbsp;<b>:-</b>&nbsp; Make Questions</p>
                    <span class="cd-date">Sharing your softwear development knowladge</span>
                  </div>
                </div>

                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-success">
                      <i class="mdi mdi-adjust"></i>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                      <h3><i class="ti-pencil-alt"></i>&nbsp;&nbsp;<b>Give Answer</b></h3>
                      <p class="mb-0 text-muted font-14">User can give answers of own questions.&nbsp; So, frist of all user must select questions catogory and view all questions it have, &nbsp; after, user can select questions and click the "Give answer" button. so after click the "Give answer" button user can give answer and must click the "Save answer" button. <br><br>Please Click &nbsp;<b>:-</b>&nbsp; Give Answer</p>
                      <span class="cd-date">Sharing your softwear development knowladge</span>
                    </div>
                  </div>



                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-success">
                      <i class="mdi mdi-adjust"></i>
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                      <h3><i class="ti-user"></i>&nbsp;&nbsp;<b>Manage Profile</b></h3>
                      <p class="mb-0 text-muted font-14">User can manage his profile, such as, manage his personal details, manage his questions, manage his answers. &nbsp; So, if user want manage his profile, first of all user must give userName and password for verify his account. <br><br>Please Click &nbsp;<b>:-</b>&nbsp; Manage Profile</p>
                      <span class="cd-date">Sharing your softwear development knowladge</span>
                    </div>
                  </div>







                </section> <!-- cd-timeline -->
              </div>
            </div><!-- Row -->

          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div> <!-- end container -->
</div>


<!-- Footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        © 2018 Upcube - Created by <i class="mdi mdi-heart text-danger"></i>Amila.
      </div>
    </div>
  </div>
</footer>


