

<!-- Navigation Bar-->

<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">

      <!-- Logo container-->
      <div class="logo">
        <!-- Text Logo -->
        <!--<a href="index.html" class="logo">-->
        <!--Upcube-->
        <!--</a>-->
        <!-- Image Logo -->
        <a  class="logo">
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="22" class="logo-small">-->
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="24" class="logo-large">-->
          <img src="node_modules/adminbsb-materialdesign/images/users/amila.jpg" alt="" height="50" class="rounded-circle">
          &nbsp; &nbsp; User Log Out Form
        </a>

      </div>
      <!-- End Logo container-->


      <div class="menu-extras topbar-custom">

        <!-- Search input -->


        <ul class="list-inline float-right mb-0">
          <!-- Search -->

          <!-- Messages-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"  role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-email-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>
          <!-- notification-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-bell-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5>Notification (3)</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item active">
                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>
          <!-- Userlogin-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" role="button"
               aria-haspopup="false" aria-expanded="false">
              <img src="node_modules/adminbsb-materialdesign/images/users/log-outt.jpg" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

              <div class="dropdown-divider"></div>
              <a  class="dropdown-item"><i class="dripicons-exit text-muted"></i> Logout</a>
            </div>
          </li>
          <li class="menu-item list-inline-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle nav-link">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>

        </ul>
      </div>
      <!-- end menu-extras -->

      <div class="clearfix"></div>

    </div> <!-- end container -->
  </div>
  <!-- end topbar-main -->

  <!-- MENU Start -->
  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">

          <li class="has-submenu">
            <a (click)="home()"><i class="ti-home"></i>Home</a>
          </li>


          <!--<li class="has-submenu">-->
            <!--<a routerLink="/makeQuestions" routerLinkActive="active"><i class="ti-star"></i> Make Questions </a>-->

          <!--</li>-->

          <!--<li class="has-submenu">-->
            <!--<a routerLink="/allQuestions" routerLinkActive="active"><i class="ti-pencil-alt"></i> Give Answer </a>-->

          <!--</li>-->


          <!--<li class="has-submenu">-->
            <!--<a routerLink="/verifyLoginForManageProfile" routerLinkActive="active"><i class="ti-user"></i> Manage Profile</a>-->

          <!--</li>-->


        </ul>
        <!-- End navigation menu -->
      </div> <!-- end #navigation -->
    </div> <!-- end container -->
  </div> <!-- end navbar-custom -->
</header>


<br><br><br>
<br><br><br>

<form ngForm="frmLoginAthunticate" [formGroup]="Form">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.b-cube.in/wp-content/uploads/2014/05/aditya-300x177.jpg" id="icon" alt="Userlogin Icon" />
        <h1>User Log-Out Form</h1>
      </div>


      <div class="form-group">
        <input [(ngModel)]="selectedUserLogin.email" type="text" id="email" formControlName="email" class="form-control" name="email" placeholder="Enter a Valid Email" [ngClass]=" {'is-invalid': Form.get('email').touched && Form.get('email').invalid}">
        <div *ngIf="Form.get('email').touched && Form.get('email').invalid" class="invalid-feedback">
          <span>Enter Valied E-mail</span>
        </div>
      </div>

      <div class="form-group">
        <input [(ngModel)]="selectedUserLogin.nic" type="text" id="nic" formControlName="nicNumber" class="form-control" name="nic" placeholder="Nic" [ngClass]="{'is-invalid': Form.get('nicNumber').touched && Form.get('nicNumber').invalid}">
        <div *ngIf="Form.get('nicNumber').touched && Form.get('nicNumber').invalid" class="invalid-feedback">
          <span>pattern : 943252254v</span>
        </div>
      </div>

      <div class="form-group">
        <input [(ngModel)]="selectedUserLogin.userName" formControlName="userName"  type="text" id="login" class="form-control" name="userName" placeholder="username" [ngClass]="{'is-invalid': Form.get('userName').touched && Form.get('userName').invalid}">
        <div *ngIf="Form.get('userName').touched && Form.get('userName').invalid" class="invalid-feedback">
          <span>Enter only charactors</span>
        </div>
      </div>


      <div class="form-group">
        <input [(ngModel)]="selectedUserLogin.password" formControlName="password" type="password" id="password" class="form-control" name="password" placeholder="password" [ngClass]="{'is-invalid': Form.get('password').invalid}">
        <div *ngIf="Form.get('password').touched && Form.get('password').invalid" class="invalid-feedback">
          <span>Password must be a letaset 6 charector</span>
        </div>
      </div>

      <div class="form-group">
        <input (click)="verifyLogOutUser()" type="submit" class="fadeIn fourth" value="Log Out" [disabled]="!Form.valid">
      </div>



      <div *ngIf="failed" class="alert alert-danger alert-dismissible" style="margin-top:10px;">
        <h6><i class="icon fa fa-ban"></i> Invalid LogOut Credentials !</h6>
        Please enter valid LogOut credentials to LogOut
      </div>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a  class="underlineHover" href="">You Can LogOut Now</a>
      </div>

    </div>
  </div>
</form>







<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        © 2018 Upcube - Created by <i class="mdi mdi-heart text-danger"></i>Amila.
      </div>
    </div>
  </div>
</footer>


