

<!-- Navigation Bar-->

<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">

      <!-- Logo container-->
      <div class="logo">
        <!-- Text Logo -->
        <!--<a href="index.html" class="logo">-->
        <!--Upcube-->
        <!--</a>-->
        <!-- Image Logo -->
        <a  class="logo">
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="22" class="logo-small">-->
          <!--<img src="node_modules/adminbsb-materialdesign/images/logo-sm.png" alt="" height="24" class="logo-large">-->
          <img src="node_modules/adminbsb-materialdesign/images/users/amila.jpg" alt="" height="50" class="rounded-circle">
          &nbsp; &nbsp; view Your All Answers Form
        </a>

      </div>
      <!-- End Logo container-->


      <div class="menu-extras topbar-custom">

        <!-- Search input -->


        <ul class="list-inline float-right mb-0">
          <!-- Search -->

          <!-- Messages-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"  role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-email-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5><span class="badge badge-danger float-right">745</span>Messages</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-3.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon"><img src="node_modules/adminbsb-materialdesign/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle" /> </div>
                <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>
          <!-- notification-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" role="button"
               aria-haspopup="false" aria-expanded="false">
              <i class="mdi mdi-bell-outline noti-icon"></i>
              <span class="badge badge-danger noti-icon-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5>Notification (3)</h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item active">
                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                View All
              </a>

            </div>
          </li>
          <!-- Userlogin-->
          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" role="button"
               aria-haspopup="false" aria-expanded="false">
              <img src="node_modules/adminbsb-materialdesign/images/users/log-outt.jpg" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

              <div class="dropdown-divider"></div>
              <a (click)="logOUt()" class="dropdown-item"><i class="dripicons-exit text-muted" required></i> Logout</a>
            </div>
          </li>
          <li class="menu-item list-inline-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle nav-link">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>

        </ul>
      </div>


      <div class="clearfix"></div>

    </div>
  </div>

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="navigation">

        <ul class="navigation-menu">

          <li class="has-submenu">
            <a (click)="home()"><i class="ti-home"></i>Home</a>
          </li>


          <li class="has-submenu">
            <a routerLink="/manageProfile" routerLinkActive="active"><i class="ti-dashboard"></i>User Profile Dashboard</a>
          </li>


          <li class="has-submenu">
            <a><i class="ti-user"></i> Manage User Personal Details</a>
            <ul class="submenu">
              <li><a routerLink="/managePersonalDetails" routerLinkActive="active" href=""><b>Update and Remove User Details</b></a></li>

            </ul>

          </li>

          <li class="has-submenu">
            <a><i class="ti-star"></i>Manage Questions</a>
            <ul class="submenu">
              <li><a routerLink="/viewAllquestonsofuniqueUser" routerLinkActive="active" href="">View Your All Questions</a></li>

            </ul>
          </li>

          <li class="has-submenu">
            <a><i class="ti-pencil-alt"></i>Manage Answers</a>
            <ul class="submenu">
              <li><a routerLink="/MgnageUsersUniqueAnswersComponent" routerLinkActive="active" href="">View Your All Answers</a></li>

            </ul>
          </li>



        </ul>

      </div>
    </div>
  </div>
</header>

<br><br>

<form ngForm="questionsCatogoryForm">
  <div class="wrapper fadeInDown">
    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">

            <h4 class="mt-0 header-title">All answers Details</h4>
            <p class="text-muted m-b-30 font-14">you can see the all answers details of Yours</p>

            <div class="m-t-20">
              <label class="text-muted">Select Questions Catogory</label>

              <select (change)="getAllAnswersUiqueUsers($event)"  [(ngModel)]="selectedQuestionsCatogory.catogoryName" [ngModelOptions]="{standalone:true}" required class="form-control">
                <option  value="">Choose...</option>
                <option *ngFor="let questionCatogories of questionsCatogoriy">{{questionCatogories.catogoryName}}</option>

              </select>


            </div>
            <br><br>

            <div class="table-rep-plugin">
              <div class="table-responsive b-0" data-pattern="priority-columns">
                <table id="tech-companies-1" class="table  table-striped">
                  <thead>
                  <tr>
                    <th><h5><B>Questions By</B></h5></th>
                    <th><h5><B>Questions Description</B></h5></th>
                    <th><h5><B>Your Answer Description</B></h5></th>
                    <th><h5><B>Status</B></h5></th>
                    <!--<th><h5><B>Answer Id</B></h5></th>-->
                    <th><h5><B>Action</B></h5></th>



                  </tr>
                  </thead>

                  <tbody>

                  <tr *ngFor="let allAnswerss of allAnswers">

                    <td disabled>
                      {{allAnswerss.questionsBy}}

                    </td>

                    <td>
                      <textarea   cols="50" rows="3" disabled>{{allAnswerss.questionsDescription}}</textarea>
                    </td>

                    <td>
                      <textarea   cols="50" rows="3" disabled>{{allAnswerss.answerDescription}}</textarea>
                    </td>

                    <td disabled id="userEmail">
                    {{allAnswerss.status}}

                    </td>

                    <td disabled id="" hidden>
                      {{allAnswerss.answerId}}

                    </td>



                    <td>
                      <button (click)="setAnswerDataToEditAnswer(allAnswerss)" type="submit" class="btn btn-primary">Edit Answer</button>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>

            </div>

            <div class="media">
              <div class="media-body">
                <h5 class="mt-0 mb-1 font-18">Note :-</h5>
                You can select questions catogory and view all answers of Yours it have. &nbsp;  After, If you want edit answer, &nbsp; you can edit it.
              </div>
              <img class="d-flex ml-3 rounded-circle" src="node_modules/adminbsb-materialdesign/images/users/amila.jpg" alt="Generic placeholder image" height="64">
            </div>

          </div>
        </div>
      </div> <!-- end col -->
    </div>

    <!-- Page-Title -->
  </div>
  <!-- end container -->
</form>










<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        © 2018 Upcube - Created by <i class="mdi mdi-heart text-danger"></i>Amila.
      </div>
    </div>
  </div>
</footer>


